/* ============================= */
/* Efek Cahaya */
/* ============================= */

.content::after{

    content:"";

    position:absolute;

    top:0;
    left:-20%;

    width:8%;
    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.85),
        transparent
    );

    transform:skewX(-25deg);

    opacity:0;

    pointer-events:none;

    z-index:3;

    animation:shine 22.6s linear infinite;

}

/* ============================= */
/* Animasi Efek Cahaya */
/* ============================= */

@keyframes shine{

    /* Menunggu lower third muncul */
    0%,
    16.8%{
        left:-20%;
        opacity:0;
    }

    /* Mulai menyala */
    17%{
        left:-10%;
        opacity:1;
    }

    /* Melintas sampai sedikit melewati huruf terakhir */
    20%{
        left:102%;
        opacity:1;
    }

    /* Langsung hilang */
    20.1%,
    100%{
        left:102%;
        opacity:0;
    }

}
